body {
    background: #000000;
    color: white;
    padding: 0;
    margin: 0;
}

.header {
    height: 20px;
    background: #44ade4;
    color: black;
    padding-top: 5px;
    padding-right: 10px;
    font-family: monospace;
    font-weight: 800;
    text-align: right;
    font-size: 1rem;
}

.coming-soon {
    text-align: center;
    padding-top: 6rem;
    font-size: 6rem;
}